.addition {
  color: white;
  background-color: #527b94;
  text-align: center;
}

.subtraction {
  color: white;
  background-color: #527b94;
  text-align: center;
}

.multiplication {
  color: white;
  background-color: #527b94;
  text-align: center;
}

.division {
  color: white;
  background-color: #527b94;
  text-align: center;
}

.result{
  text-decoration: underline;
}

.results{
  padding: 3px;
}

.top{
  margin-left: 100px;
}

.overall{
  margin-left: 45px;
}
